<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="InputFile" value="D:\workspace\Academy tasks\CSV_to_XML_JSON\Hotels.txt"/>
    <add key="outputFilePathXML" value="D:\workspace\Academy tasks\CSV_to_XML_JSON\Hotels.xml"/>
    <add key="outputFilePathJSON" value="D:\workspace\Academy tasks\CSV_to_XML_JSON\Hotels.json"/>
  </appSettings>
</configuration>